@charset "utf-8";
/* CSS Document */

.journal {
	font-size: 12px;
	line-height: 20px;	
	padding: 10 px;
	display:block;
	margin:10px 30px;
}

span.author{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	font-size: 12px;
	line-height: 20px;
	font-style:normal;
	font-weight:bold;
	
	
}

span.year{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	font-style:normal;
	font-weight:bold;
	
	
}
span.title{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	line-height: 20px;
	font-style:italic;
	
}

span.source{
	font-family : "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}